 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
	box-sizing: border-box;
}
root {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.container{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
	font-size: 1.2rem;
	
}
.goback{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	margin-top: 10px;
	margin-right: 17px;
	font-size: 0.9rem;
	height: 10px;
	
}
.search-container{
	display:flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.search{
	font-family: 'Poppins';
	font-size: 1.3rem;
	border: 2px solid whitesmoke;
	border-radius: 30px;
	background-color: transparent;
	color: white;
	padding: 0.5rem 1.5rem;
	margin-top: 12px;
	margin-left: 12px;
}

.links-container{
	display:flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	padding: 0.5rem 1.5 rem;
	margin-top: 12px;
}


.search:focus{
	outline: none;
}

body {
	margin: 0;
	background-color: #22254b;
	color: azure;
	font-family: "Poppins", sans-serif;
}

.movie {
	background-color: #373b69;
	margin: 1rem;
	width: 250px;
	border-radius: 3px;
	box-shadow: 0px -3px 5px rgba(0, 0, 0 0.5);
	overflow: hidden;
	position: relative;
}
#add{
	display: flex;
	width: 250px;
	align-items: center;
	justify-content: center;
}
.movie-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	
}

.movie img {
	width: 100%;
	height: 320px;
	object-fit: cover;
}
.movie-info {
	display: flex;
	padding: 1rem;
	align-items: center;
	justify-content: space-between;
	
}

.movie-info h3 {
	margin: 0;
}

.movie-over {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: seashell;
	color: #22254b;
	padding: 1rem;
	transform: translateY(100%);
	transition: transform 0.3s ease-in-out;
	overflow: auto;
	max-height: 92%;
	/* para que no me tape el boton de addToFavorites*/
}

.movie:hover .movie-over {
	transform: translateY(0%);
}

/*tags estilos */


#tag{
	background-color: #2e3158;
	padding: 0.5rem;
	border-radius: 5px;
	font-size: bold;
  }
  .movie-info .green{
	color:rgb(109,247,109);
  }
  .movie-info .orange{
	color:rgb(255, 169, 8);
  }
  .movie-info .red{
	color:red;
  } 
  
  